<div class="about">
  <div class="text">
    <h4>Whats Craze all About?</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla fringilla nisl congue congue. Maecenas nec condimentum libero, at elementum mauris.</p>

    <p>Phasellus eget nisi dapibus, ultricies nisl at, hendrerit risusuis ornare luctus id sollicitudin ante lobortis at.</p>
    <span><i class="fa fa-chevron-right"></i> Lorem ipsum dolor sit amet</span>
    <span><i class="fa fa-chevron-right"></i> Lorem ipsum dolor sit amet consectetur elt</span>
  </div>
  <div class="video">
    <iframe src="https://www.youtube.com/embed/kUPEHPYIxAo" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
