<div class="features">
  <div class="title">
    <h3>Craze Features</h3>
    <p>Lorem ipsum dolor sit amet, pro aeterno adipisci ex, pro no iriure accusam. Eros admodum intellegat ex mea, mei wisi nullam ne, qui cu aliquid nominavi. Est habemus maiestatis ut. Vim quod elitr interesset ea.</p>
  </div>

  <div class="feature-list">
    <div class="feature-list-row">
      <div>
        <div class="feature">
          <span class="lnr lnr-screen"></span>
          <h4>Flat Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.</p>
        </div>
        <div class="line1"></div>
      </div>

      <div>
        <div class="feature">
          <span class="lnr lnr-map-marker"></span>
          <h4>Marketable</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.</p>

        </div>
        <div class="line1"></div>
      </div>

      <div>
        <div class="feature">
          <span class="lnr lnr-picture"></span>
          <h4>Edit Photos</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.</p>

        </div>
        <div class="line1"></div>
      </div>
    </div>

    <div class="feature-list-row">

      <div>
        <div class="feature">
          <span class="lnr lnr-music-note"></span>
          <h4>Edit Colors</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.</p>
        </div>
      </div>

      <div>
        <div class="feature">
          <span class="lnr lnr-user"></span>
          <h4>User Friendly</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.</p>
        </div>
      </div>

      <div>
        <div class="feature">
          <span class="lnr lnr-hourglass"></span>
          <h4>100% Editable</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse fringilla.</p>
        </div>
      </div>
    </div>
  </div>
</div>
